*{
    margin: 0;
}
@font-face {
    font-family: bubbleFont;
    src: url(fonts/spicy-sale/Spicy\ Sale.ttf);
}
@font-face {
    font-family: baby-gemoy;
    src: url(fonts/baby-gemoy/Baby\ Gemoy.ttf);
}
@font-face {
    font-family: comic-roasting;
    src: url(fonts/comic-roasting/Comic\ Roasting.otf);
}
body {
    background-color: #A77F60; 
    padding-bottom: 25px;
}
#topwrapper{
    padding: 15px;
    margin: 0;
    background-color: #8A5F41;
    font-size: 30px;
    margin-bottom: 20px;
}
header {
    height: 50px;
    margin-bottom: 15px;
}
.header {
    display: flex;
    text-align: left;    
    list-style-type: none;     /* Removes default bullet points */
    padding: 0;                /* Removes default browser indentation */
    margin: 0;
    gap: 15px;
}
.group-1 {
    padding: 1em;
}
.group-1:hover {
    text-decoration: underline;
}
li a{
    text-decoration: none;
    text-decoration-line: none;
    color: black;
    font-family: bubbleFont;
    font-weight: 1000;
    -webkit-text-stroke: 1px  white ;
}
h2 {
    text-align: center;
    font-size: 40px;
    font-family: baby-gemoy;
    margin-top: 20px;
}
#jellycat-form {
    text-align: center;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #8A5F41;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
