*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #A77F60;
}
#topwrapper{
    padding: 15px;
    margin: 0;
    background-color: #8A5F41;
}
.header {
    display: flex;
    text-align: left;    
    list-style-type: none;     /* Removes default bullet points */
    padding: 0;                /* Removes default browser indentation */
    margin: 0;
    gap: 15px;
}
h2 {
    text-align: center;
}
.group-1 {
    padding: 1em;
    border: white solid 2px;
    border-radius: 20%;
    inline: block;
}
.about-mimi{
    text-align: left;
}
#MIMI{
    width: 25%;
    height: 25%;
    border: solid 5px #cba283;
    border-radius: 50%;
    display: block;
    margin: auto;
}
#sample-img {
    border: solid 5px 
}
footer {
    background-color: #8A5F41;
    padding-top: 20px;
    padding-bottom: 20px;
}
.row {
    border: solid #CCD67F 5px;
    width: 50px;
    height: 50px;
}