*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #A77F60;
}
#topwrapper{
    padding: 15px;
    margin: 0;
    background-color: #8A5F41;
    font-size: 30px;
}
header {
    height: 50px;
    
}
.header {
    display: flex;
    text-align: left;    
    list-style-type: none;     /* Removes default bullet points */
    padding: 0;                /* Removes default browser indentation */
    margin: 0;
    gap: 15px;
}
h2 {
    text-align: center;
    font-size: 40px;
}
p{
    font-size: 35px;
}
figcaption{
    font-size: 35px;
}
hr {
    color: #CCD67F;
    margin-left: 0;
    margin-right: 0;
}
.group-1 {
    padding: 1em;
    border: white solid 2px;
    border-radius: 20%;
}
.about-mimi{
    text-align: left;
}
#MIMI{
    width: 25%;
    height: 25%;
    border: solid 5px #cba283;
    border-radius: 50%;
    display: block;
    margin: auto;
}
footer {
    background-color: #8A5F41;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sample-photos {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.row {
    width: 50%;
    height: 50%;
    margin: 50px;
    border-top: solid 15px #F3E4C9;
    border-bottom: solid 15px #F3E4C9;
    border-left: solid 15px #CCD67F;
    border-right: solid 15px #CCD67F;
    border-radius: 25%;
}
form {
    text-align: center;
    
}